body {
  padding: 10px;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  font-size: 14px;
  background-color: #f8fcff;
}

.container {
  margin: 0 20px;
}
.title {
  display: flex;
  align-items: center;
}
.btn_page {
  display: flex;
  height: 50px;
  background-color: #fff;
  padding-top: 10px;
}
.btn_page button {
  background-color: #f3fef8;
  color: #36d669;
  margin-left: 40px;
  height: 40px;
  box-shadow: unset;
  text-transform: capitalize;
}
.btn_page button:hover {
  background-color: #36d669;
  color: white;
}
.btn_back {
  color: #36d669;
  border: 1px solid #36d669;
  width: 30px !important;
  min-width: 30px !important;
  max-width: 30px !important;
  height: 30px !important;
  margin-right: 25px !important;
}
.btn_back:hover {
  border: 1px solid #36d669;
}
.btn_back svg {
  margin-left: 8px;
}

.promotion {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  background-color: #fff;
  margin: 0;
}
.filter_pageValue select {
  outline: none;
  width: 70px;
  padding: 10px 5px;
  border-color: #ccc;
  border-radius: 3px;
  margin-left: 10px;
}
.filter_result {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: rgb(252, 227, 227);
}
.promotion--title {
  background-color: #fcfcfc;
  border-bottom: 1px solid #f8f7f7;
}
.promotion_wrap {
  overflow-x: scroll;
  margin-top: 40px;
}
.promotion .btn_promotion {
  width: 100%;
  border: none;
  color: rgb(100, 100, 100);
  border-bottom: 1px solid #f8f7f7;
  outline: none;
  padding: 0;
}
.promotion .btn_promotion:hover {
  outline: none;
  border: none;
  border-bottom: 1px solid #f8f7f7;
}
.promotion_list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.promotion_list div:last-child {
  flex: 1;
}
.promotion_list--title {
  font-weight: 600;
  margin-left: 18px;
}
.item {
  width: 140px;
  max-width: 140px;
  min-width: 140px;
  padding-bottom: 5px;
}

.item--code {
  width: 95px;
  min-width: 95px;
  max-width: 95px;
}
.item--codeColor {
  text-decoration: underline;
  color: blue;
}
.item--promotionType {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  margin-right: 15px;
}
.item--value {
  width: 75px;
  min-width: 75px;
  max-width: 75px;
}
.item--desc {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  padding-right: 15px;
  text-transform: lowercase;
}
.item--number,
.item--status {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}
.item--status span {
  color: red;
  border: 1px solid red;
  padding: 3px 5px;
  background-color: rgb(253, 207, 207);
}
.item--createdAt {
  text-align: right;
  margin-left: auto;
}
.btn {
  margin: 2px 0;
  width: 100px;
  cursor: pointer;
}

.btn--edit {
  color: blue;
  border: 1px solid blue;
  border-radius: 2px;
}

.promotion_filter {
  width: 100%;
  display: flex;
  align-items: center;
}

.promotion_filter input {
  width: 250px;
  padding: 10px 5px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.promotion_create {
  color: white;
  font-weight: bold;
  padding: 3px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  background: rgb(92, 92, 252);
}

#image {
  display: none;
}
.modal {
  background-color: #f8fcff;
}

.modal_wrap {
  padding: 0 20px;
}
.detail_title {
  font-size: 18px;
  color: rgb(117, 117, 117);
  font-weight: bold;
  margin: 0;
  padding: 15px 20px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}
.btn_wrapDetail {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
}
.btn_wrapDetail button {
  color: rgb(117, 117, 117);
  text-transform: capitalize;
  background-color: #fff;
  border: unset;
  box-shadow: unset;
}
.btn_wrapDetail button:first-child {
  margin-right: 20px;
}

.btn_wrapDetail button:hover,
.btn_wrapDetail .active {
  background-color: #f3fef8;
  color: green;
  border: unset;
  outline: unset;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.general {
  background-color: #fff;
  margin-top: 20px;
  color: rgb(117, 117, 117);
}
.detail_wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}
.general > p {
  border-bottom: 1px solid rgb(160, 160, 160);
  padding: 20px 0 20px 20px;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.detail_item {
  display: flex;
  justify-content: space-between;
}
.detail_item p:last-child {
  text-align: right;
  font-weight: bold;
}
.detail_item p {
  display: inline-block;
  margin: 0;
  margin-bottom: 7px;
}
.detail_itemTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(160, 160, 160);
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100vw;
  min-width: 900px;
  overflow: scroll;
  box-shadow: unset !important;
}
.modal_footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

@media screen and (max-width: 935px) {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    min-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    min-width: unset;
    color: rgb(100, 100, 100);
  }
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin-right: 10px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  min-width: 40px;
  height: 22px;
  cursor: pointer;
  background: rgb(160, 160, 160);
  border-radius: 30px;
}
input[type='range']::-webkit-slider-thumb {
  border: 1px solid rgb(100, 100, 100);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
.form_label {
  font-size: 14px;
  color: rgb(100, 100, 100);
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.update_country {
  margin-top: 20px;
}
.update_country p:last-child {
  padding: 3px 5px;
  background-color: rgb(92, 128, 236);
  color: white;
  display: inline-block;
  border-radius: 3px;
  margin: 0;
}
.form_input,
.form_select,
.form_date {
  height: 30px;
  border: 1px solid #ccc;
  color: rgb(100, 100, 100);
  padding: 0 5px;
  outline: none;
}
.form_item {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}
.wrap_radio {
  display: flex;
}
.wrap_radio label {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: rgb(100, 100, 100);
}
.wrap_radio label:not(:first-child) {
  margin-left: 20px;
}
.form_value {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
}
.form_value h3 {
  color: rgb(100, 100, 100);
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.blocked {
  color: rgb(100, 100, 100);
  font-size: 14px;
  display: flex;
  align-items: center;
}
.form_textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 5px;
}
.modal_wrapBtn {
  display: flex;
  justify-content: right;
}
.error_message {
  color: red;
  margin-top: 2px;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  text-transform: unset !important;
}
#modalCreatePromotion
  .MuiDialog-container
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  margin: 0;
  margin-left: auto;
  height: 100%;
  min-height: 100%;
}
